


/* ---------- GENERAL ---------- */

body {
/*	background-color: #C0C0C0;*/
	//color: #000;
	font-family: "Glyphicons Halflings", Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.5em;
        
}
/*@font-face {
  font-family: "Glyphicons Halflings";
  src: url("/dist/fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), 
      url("/dist/fonts/bootstrap/glyphicons-halflings-regular.woff") format("woff"),
      url("/dist/fonts/bootstrap/glyphicons-halflings-regular.ttf") format("truetype"),
      url("/dist/fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}*/
input {
	border: none;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	-webkit-appearance: none;
}
title{font-family: "Glyphicons Halflings", Arial, Helvetica, sans-serif;}
/* ---------- LOGIN ---------- */

#login {
	margin: 50px auto;
	width: 500px;
}

#login h2 {
	background-color: #CED8F6;
	-webkit-border-radius: 20px 20px 0 0;
	-moz-border-radius: 20px 20px 0 0;
	border-radius: 20px 20px 0 0;
	color: #2E9AFE;
	font-size: 28px;
	padding: 30px 30px;
        width: 400px
}
#login h3 {
	
	color: #FF0040;
	font-size: 26px;
        font-weight: bold;
	padding: 20px 26px;
}
#login h2 span[class*="fontawesome-"] {
	margin-right: 14px;
}

#login fieldset {
	background-color: #f5e79e;
	-webkit-border-radius: 0 0 20px 20px;
	-moz-border-radius: 0 0 20px 20px;
	border-radius: 0 0 20px 20px;
        border-color: white;
        border-bottom-color: white;
	padding: 20px 26px;
        width: 400px
          
}

#login fieldset p {
	color: #fff;
	margin-bottom: 10px;
        
}

#login fieldset p:last-child {
	margin-bottom: 0;
}

#login fieldset input {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#login fieldset input[type="email"], #login fieldset input[type="password"] {
	background-color: #fff;
	color: #777;
	padding: 4px 10px;
	width: 328px;
}

#login fieldset input[type="button"] {
	background-color: #33cc77;
	color: #fff;
	display: block;
	margin: 0 auto;
	padding: 4px 0;
	width: 100px;
}

